@import "./ui.scss";
@import "./typography.scss";

body {
    background: #111;
    color: white;
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: auto;
    max-width: 1500px;
    padding: 5px 5px;
}

.row {
    display: flex;
    & > div {
        flex-grow: 1;
        height: 100%;
    }
    flex-wrap: wrap;
}

.content {
    padding: 10px;
}

a {
    color: lightblue;
}
